In [7]:
import numpy as np
import pandas as pd 
from numpy.random import randn

In [8]:
#index Levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [10]:
inside

[1, 2, 3, 1, 2, 3]

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
#INDEX HIERARCHY

In [13]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [14]:
df

             A         B
G1 1 -0.227183  1.084458
   2 -0.659629  1.371414
   3 -2.283580  0.633599
G2 1  0.767335  0.455643
   2  1.786782 -0.908513
   3  0.924056 -1.750462

In [17]:
df.loc['G1'] #accessing these index

          A         B
1 -0.227183  1.084458
2 -0.659629  1.371414
3 -2.283580  0.633599

In [18]:
df.loc['G1'].loc[1]

A   -0.227183
B    1.084458
Name: 1, dtype: float64

In [21]:
df.index.names #this shows that our indices are not named... doing it right below

FrozenList([None, None])

In [22]:
df.index.names = ['GROUPS', 'NUMBERS']

In [23]:
df

                       A         B
GROUPS NUMBERS
G1     1       -0.227183  1.084458
       2       -0.659629  1.371414
       3       -2.283580  0.633599
G2     1        0.767335  0.455643
       2        1.786782 -0.908513
       3        0.924056 -1.750462

In [24]:
#now: grab -0.908513.. that's G2, 2, col B

In [25]:
df.loc['G2'].loc[2]['B']

-0.9085127991573413

In [26]:
#do you know about xs or cross-section? no hha

In [27]:
df

                       A         B
GROUPS NUMBERS
G1     1       -0.227183  1.084458
       2       -0.659629  1.371414
       3       -2.283580  0.633599
G2     1        0.767335  0.455643
       2        1.786782 -0.908513
       3        0.924056 -1.750462

In [28]:
#say you want to grap all values of num 2

In [34]:
df.xs('G1')

                A         B
NUMBERS
1       -0.227183  1.084458
2       -0.659629  1.371414
3       -2.283580  0.633599

In [36]:
df.xs(2, level='NUMBERS') #SEE? YAYY

               A         B
GROUPS
G1     -0.659629  1.371414
G2      1.786782 -0.908513