In [21]:
import numpy as np
import pandas as pd 
from numpy.random import randn

In [22]:
#index Levels
outside = 'G1 G1 G1 G2 G2 G2'.split() #outside indices
inside = [1, 2, 3, 1, 2, 3] #inside indices
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [23]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [24]:
inside

[1, 2, 3, 1, 2, 3]

In [25]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
#INDEX HIERARCHY

In [27]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [28]:
df

             A         B
G1 1  1.249738 -1.128060
   2  0.513071 -1.446942
   3  0.722769  0.926707
G2 1 -0.140698  0.837063
   2  0.457132 -2.394399
   3 -0.603807 -2.007595

In [29]:
df.loc['G1'] #accessing these index

          A         B
1  1.249738 -1.128060
2  0.513071 -1.446942
3  0.722769  0.926707

In [30]:
df.loc['G1'].loc[1]

A    1.249738
B   -1.128060
Name: 1, dtype: float64

In [31]:
df.index.names #this shows that our indices are not named... doing it right below

FrozenList([None, None])

In [32]:
df.index.names = ['GROUPS', 'NUMBERS']

In [33]:
df

                       A         B
GROUPS NUMBERS
G1     1        1.249738 -1.128060
       2        0.513071 -1.446942
       3        0.722769  0.926707
G2     1       -0.140698  0.837063
       2        0.457132 -2.394399
       3       -0.603807 -2.007595

In [34]:
#now: grab -0.908513.. that's G2, 2, col B

In [35]:
df.loc['G2'].loc[2]['B']

-2.394398806875714

In [36]:
#do you know about xs or cross-section? no hha

In [37]:
df

                       A         B
GROUPS NUMBERS
G1     1        1.249738 -1.128060
       2        0.513071 -1.446942
       3        0.722769  0.926707
G2     1       -0.140698  0.837063
       2        0.457132 -2.394399
       3       -0.603807 -2.007595

In [38]:
#say you want to grap all values of num 2! using cross section

In [39]:
df.xs('G1')

                A         B
NUMBERS
1        1.249738 -1.128060
2        0.513071 -1.446942
3        0.722769  0.926707

In [41]:
df.xs(2, level='NUMBERS') #SEE? YAYY #2 in the index in the numbers level

               A         B
GROUPS
G1      0.513071 -1.446942
G2      0.457132 -2.394399