1. IMPORT PANDAS AS PD

In [19]:
import pandas as pd

2. READ SALARIES.CSV AS A DF CALLED SAL

In [24]:
sal = pd.read_csv('salaries.csv', low_memory=False)

3. CHECK THE HEAD OF THE DATAFRAME

In [25]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

4. USE INFO() METHOD TO FIND OUT HOW MANY ENTRIES THERE ARE

In [51]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148654 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          148654 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             148654 non-null  float64
 11  Agency            148654 non-null  object
 12  Status            148654 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

5. WHAT IS THHE AVERAGE BASEPAY?

In [52]:
sal.fillna(0, inplace=True) #setting null values to 0

In [61]:
sal['BasePay'] = sal['BasePay'].replace('Not Provided', 0, inplace=True)

In [62]:
sal['BasePay'] = sal['BasePay'].astype('float64')

In [69]:
m = sal['BasePay'].mean()

In [71]:
m

nan