1. IMPORT PANDAS AS PD

In [2]:
import pandas as pd

2. READ SALARIES.CSV AS A DF CALLED SAL

In [3]:
sal = pd.read_csv('Salaries.csv', low_memory=False)

3. CHECK THE HEAD OF THE DATAFRAME

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

4. USE INFO() METHOD TO FIND OUT HOW MANY ENTRIES THERE ARE

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

5. WHAT IS THE JOB TITLE OF JOSEPH DRISCOLL

In [6]:
sal[sal['EmployeeName']== 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

6. HOW MUCH DOES JOSEPH DRISCOLL MAKE (INCLUDING BENEFITS)

In [7]:
sal[sal['EmployeeName']== 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

7. WHAT IS THE NAME OF HIGHEST PAID PERSON (INCLUDING BENEFITS)

In [8]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()].transpose() #one method

                                                               0
Id                                                             1
EmployeeName                                      NATHANIEL FORD
JobTitle          GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                167411.18
OvertimePay                                                  0.0
OtherPay                                               400184.25
Benefits                                                     NaN
TotalPay                                               567595.43
TotalPayBenefits                                       567595.43
Year                                                        2011
Notes                                                        NaN
Agency                                             San Francisco
Status                                                       NaN

In [9]:
sal.iloc[sal['TotalPayBenefits'].argmax()] #straight forward method

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

8. WHAT IS THE NAME OF LOWEST PAID PERSON (INCLUDING BENEFITS)! IS THERE SOMETHING STRANGE
WITH THIS PERSON?

In [10]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]
#idxmin (pandas) is quite the same as argmin(numpy)... 
#but can be applied wherever vice-versa

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

9. WHAT IS THE AVERAGE TOTALPAY INCLUDING BENEFITS PER YEAR (2011-2014)

In [11]:
sal.groupby('Year')['TotalPayBenefits'].mean()

Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

10. HOW MANY UNIQUE JOB TITLES ARE THERE

In [12]:
sal['JobTitle'].nunique()

2159

11. WHAT ARE THE TOP 5 MOST COMMON JOBS?

In [13]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

12. HOW MANY JOB TITLES WERE REPRESENTED
BY ONLY ONE PERSON IN 2013

In [14]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

13. HOW MANY PEOPLE HAVE THE WORD CHIEF IN THEIR JOB TITLE

In [15]:
#create a function to check if the string contains the word chief
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [16]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x))) #get the sum

477

In [17]:
sal[sal['JobTitle'].apply(lambda x: chief_string(x))].head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.0,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.6,0.0,2357.0,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.6,0.0,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254027.63,0.0,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218930.76,4078.0,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,DEPUTY CHIEF III (POLICE DEPARTMENT),233867.6,0.0,14851.04,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN

BONUS: IS THERE A CORRELATION BETWEEN LENGTH OF THE JOB TITLE STRING AND SALARY

In [18]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [21]:
sal['title_len']#produce the string length of titles

0         46
1         31
2         31
3         36
4         44
          ..
148649     9
148650    12
148651    12
148652    12
148653    26
Name: title_len, Length: 148654, dtype: int64

In [19]:
sal[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [20]:
#Conclusion: There is no correlation between the length of title string and salary