In [1]:
import pandas as pd 
import numpy as np

In [8]:
from numpy.random import randn

In [11]:
df = pd.DataFrame(randn(6,2), [1, 2, 3, 4, 5, 6], ['A', 'B'])

In [12]:
df

          A         B
1  1.136362  0.617752
2 -0.178678  0.382844
3  1.453638 -0.224810
4 -0.191059 -0.384622
5  0.132276 -1.369742
6  0.137684 -1.384729

In [13]:
#save df as csv file

In [19]:
df.to_csv('randomFile', index=False) #index set to False is so useful

In [20]:
pd.read_csv('randomFile')

          A         B
0  1.136362  0.617752
1 -0.178678  0.382844
2  1.453638 -0.224810
3 -0.191059 -0.384622
4  0.132276 -1.369742
5  0.137684 -1.384729

In [23]:
#will learn about reading sql.. libraries for sqlite