In [1]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
#show how series work

labels = ['a', 'b', 'c']
my_data = [20, 50, 80]
my_dict = {'a': 20, 'b': 50, 'c': 80}

In [22]:
labels

['a', 'b', 'c']

In [23]:
my_data

[20, 50, 80]

In [24]:
my_dict

{'a': 20, 'b': 50, 'c': 80}

In [25]:
my_series = pd.Series(data=my_data)

In [26]:
my_series

0    20
1    50
2    80
dtype: int64

In [27]:
#change the indexes to labels

In [28]:
my_series1 = pd.Series(data=my_data, index=labels)

In [29]:
my_series1

a    20
b    50
c    80
dtype: int64

In [30]:
#same as

In [31]:
pd.Series(my_data, labels)

a    20
b    50
c    80
dtype: int64

In [32]:
#how about pursing my_dict in the Series

In [33]:
pd.Series(my_dict)

a    20
b    50
c    80
dtype: int64

In [34]:
#Pay attention to the build_in functions

In [35]:
pd.Series(data=[sum, print, len, max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
3      <built-in function max>
dtype: object

In [36]:
serie1 = pd.Series([1, 2, 3, 4], ['Rwanda', 'USA', 'Ethiopia', 'Germany'])

In [37]:
serie1

Rwanda      1
USA         2
Ethiopia    3
Germany     4
dtype: int64

In [38]:
 from numpy.random import randn

In [39]:
serie2 = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'Y', 'Z', 'X'])

In [40]:
serie2

          W         Y         Z         X
A  1.981845  0.499575 -0.376579 -1.330507
B  0.212229 -1.150172  1.580511 -0.871731
C -1.128876  1.050112 -0.890424  0.264157
D -0.115083  1.094901  0.091466  1.631595
E  0.100706 -1.173054 -0.022412 -0.658979